<h1 class="title">
  ng-indigit demo
</h1>
<small>a rich number input!</small>
<p>use the options below to see how it works with different options!</p>
<div class="control-panel">
  <div class="control boolean-control allow-negative">
    <label>
      Allow Negatives
      <input type="checkbox" [(ngModel)]="allowNegative"/>
    </label>
    <p class="hint"></p>
  </div>
  <app-decimal-options (decimalOptionChange)="applyDecimalOptions($event)"></app-decimal-options>
  <app-digit-grouping-options (decimalDigitGroupingOptionsChange)="decimalDigitGroupingOptions = $event"
                              (integerDigitGroupingOptionsChange)="integerDigitGroupingOptions = $event"></app-digit-grouping-options>
</div>

<div class="demo">
  <div class="demo-part">
    <h2>Template Driven Form Example</h2>
    <app-template-driven [allowNegative]="allowNegative" [decimalOptions]="decimalOptions"
                         [integerDigitGroupingOptions]="integerDigitGroupingOptions"
                         [decimalDigitGroupingOptions]="decimalDigitGroupingOptions"></app-template-driven>
  </div>
  <div class="demo-part">
    <h2>Reactive Form Example</h2>
    <app-reactive [allowNegative]="allowNegative" [decimalOptions]="decimalOptions"
                  [integerDigitGroupingOptions]="integerDigitGroupingOptions"
                  [decimalDigitGroupingOptions]="decimalDigitGroupingOptions"></app-reactive>
  </div>
  <input type="text" ng-indigit/>
</div>

