<div class="options-panel digit-grouping-options">
  <h3 class="panel-title">Digit Grouping Options</h3>
  <div class="control boolean-control enable-digit-grouping">
    <label>
      Enable Digit Grouping
      <input type="checkbox" [(ngModel)]="enableDigitGrouping" (change)="refreshDigitGroupingParams()"/>
    </label>
    <p class="hint"></p>
  </div>
  <div class="control boolean-control enable-integer-digit-grouping">
    <label>
      Enable Integer Digits' Groups
      <input type="checkbox" [(ngModel)]="enableIntDigitGrouping" [disabled]="!enableDigitGrouping"
             (change)="refreshDigitGroupingParams()"/>
    </label>
    <p class="hint"></p>
  </div>
  <div class="control integer-digit-group-delimiter">
    <label>
      Integer Digit Groups' Delimiter
      <select [(ngModel)]="intDigitGroupingParams.delimiter"
              [disabled]="!enableDigitGrouping || !enableIntDigitGrouping"
              (change)="refreshDigitGroupingParams()">
        <option *ngFor="let item of allowedDigitGroupDelimiters" [value]="item">{{item}}</option>
      </select>
    </label>
    <p class="hint"></p>
  </div>
  <div class="control integer-digit-group-size">
    <label>
      Integer Digit Group Size
      <input type="number" min="1" max="5" [disabled]="!enableDigitGrouping || !enableIntDigitGrouping"
             [(ngModel)]="intDigitGroupingParams.groupSize" (change)="refreshDigitGroupingParams()"/>
    </label>
    <p class="hint"></p>
  </div>
  <div class="control boolean-control enable-decimal-digit-grouping">
    <label>
      Enable Decimal Digits' Groups
      <input type="checkbox" [(ngModel)]="enableDecimalDigitGrouping" [disabled]="!enableDigitGrouping"
             (change)="refreshDigitGroupingParams()"/>
    </label>
    <p class="hint"></p>
  </div>
  <div class="control decimal-digit-group-delimiter">
    <label>
      Decimal Digit Groups' Delimiter
      <select [(ngModel)]="decimalDigitGroupingParams.delimiter"
              [disabled]="!enableDigitGrouping || !enableDecimalDigitGrouping"
              (change)="refreshDigitGroupingParams()">
        <option *ngFor="let item of allowedDigitGroupDelimiters" [value]="item">{{item}}</option>
      </select>
    </label>
    <p class="hint"></p>
  </div>
  <div class="control decimal-digit-group-size">
    <label>
      Decimal Digit Group Size
      <input type="number" min="1" max="5" [disabled]="!enableDigitGrouping || !enableDecimalDigitGrouping"
             [(ngModel)]="decimalDigitGroupingParams.groupSize" (change)="refreshDigitGroupingParams()"/>
    </label>
    <p class="hint"></p>
  </div>
</div>
